.Login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 45vh;
  /* Adjust the left padding as needed */
}

.Login form {
  width: 350px; /* Increased width of the form */
}

.Login form .form-group {
  margin-bottom: 2rem;
  /* Increased margin-bottom for spacing */
  padding-bottom: 2rem;
}

.Login form .form-group:not(:last-child) {
  margin-bottom: 3rem; /* Increased space between input fields */
}

.Login form .form-group .form-control {
  height: 500px; /* Increased height of the input fields */
  border-color: #498589; /* Field outline color */
}

.Login form .form-group label {
  color: #498589;
  width: 10px !important; /* Field label color */
}

.Login form button[type="submit"] {
  margin-top: 3rem;
  background-color: white;
  color: #498589;
  border-color: #498589;
}
.mobile-logo {
  display: none;
}

.card-shadow {
  background-color: rgba(73, 133, 137, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-placeholder::placeholder {
  font-size: 13px;
  color: #6c757d;
}
.formContainer{
  display: flex;
  flex-direction: column;
}
.custom-placeholder::placeholder {
  font-size: 12px;
  color: #6c757d;
}

.custom-placeholder::placeholder {
  font-size: 14px;
  color: #6c757d;
}

.custom-button {
  border-radius: 25px;
  width: 100px; /* Set your desired width */
}
.Login .err-msg{
  color: red;
  padding-left: 2px;
  padding-top: 10px;
}

.l-error-box {
  z-index: 2;
  position: fixed;
  left: 50%;
  
  transform: translate(-50%, 0);
  margin-top: 50px;
  display: none;
  box-sizing: border-box;
  width: 20%;
  border-radius: 50px;
  flex-direction: column;
  padding: 20px;
  background: rgba(255, 0, 0, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  color: rgba(255, 2, 2, 0.795);
  text-align: center;
  border: 1px solid rgba(255, 2, 2, 0.795);
  animation: fade-in 5s ;
}
@media only screen and (max-width: 960px){
  .l-error-box{
    width: 90%;
    margin-top: 10px;
  }
}
@keyframes fade-in {
  from {opacity: 0%;}
  25% {opacity: 100%;}
  to {opacity: 0%;}
  
}
@media only screen and (max-width: 960px) {
  .Login {
    margin-top: 20px;
    justify-content: center;
    height: 30vh;
  }
  .Login form .form-group label {
    color: #498589;
    width: 100px !important; /* Field label color */
  }
  .mobile-logo {
    display: inline;
    width: 173px;
    /* height: 138px; */
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
