
.maincard {
  margin-left: 190px;
  margin-top: 50px;
  height: 100%;
  width: 700px;
  border-radius: 7px;
  border: none;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-body {
  text-align: justify;
  /* color: #498589; */
}