.body1 {
  background: rgb(255, 255, 255); /* Make it white if you need */
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("../images/DoctorBG.png");
  background-position: right;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form {
  background: rgb(255, 255, 255); /* Make it white if you need */

  width: 100%;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.title {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
}
.d-flex {
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
  
}
.wrapper1 {
  box-sizing: border-box;
  width: 100%;
  /* max-width: 1212px;
    max-height: 550px; */
  /* left: 114px;
    top: 230px; */
  border-radius: 50px;
  flex-direction: column;
  display: flex;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


@media only screen and (max-width: 767px) { 
  .wrapper1 {
    padding: 5px;
    padding-top: 150px;
    height: 100%;
  }
}


input,
label,select {
  margin-left: 20px;
  margin-top: 10px;

  width: 150px;
}
input,select{
  border-color: #ffffff;
  border-radius: 10px;
  border-width: 3px;
}

@media only screen and (max-width: 767px) {
  input, select, label {
    margin-left: 0px;
  }
 }

.margin {
  margin-left: 10%;
}

.btn1 {
  width: 95%;
  height: 60px;
  background: #0bab7c;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2em;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: center;
  transition: 1s;
  display: flexbox;
}
.btn1:hover {
  background: #006e4b;
  color: rgb(255, 255, 255);
}
input[type="submit"]{
  background-color: #0fe8a7;
  color: #ffffff;
}
input[type="reset"]{
  background-color: #fe3b3b;
  color: #ffffff;
}

.App {
  text-decoration-color: #000000;
  background-color: #ffffff;
}
::-webkit-scrollbar {
  display: none;
}

.customDropdown {
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;

  font-size: 16px;
  width: 150px;
  margin-bottom: 30px;
}

/* Additional styles for the dropdown arrow */
.customDropdown:after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow doesn't interfere with clicking on the dropdown */
}

@media only screen and (max-width: 767px) {
  .customDropdown {
    margin-bottom: 50px;
    width: 150px;
  }
  
 }

 .userRoleLabel {
  margin-left: 20px;
  margin-top: 10px;
  width: 150px;
  font-size: 1.2em;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
 }