

 .logincontainer{
    height: 90dvh;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 960px) {
    .logincontainer{
        height: 100dvh;
        flex-direction: column-reverse;
        overflow: scroll;
    }
   
  }