@media only screen and (max-width: 960px) {
  .Navbar {
    display: none;
  }
}

body {
  color: black;
}

.about, .team, .contact {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.brandName {
padding-top: 20px;
}

.Navbar {
  z-index: 1;
}