.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 450px; /* Adjust the gap value as needed */
}

.grid-item {
  margin: 0px; /* Adjust the margin value as needed */
}

.grid-item-no-margin {
  margin-right: 20px; /* Adjust the margin value as needed */
}
